*{
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
    background: #f8f9fa;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    line-height: 1.7;
}



.content{
    /* body */
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background: #f8f9fa;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    line-height: 1.7;
}

.container_products{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
}

.item{
    width: 250px;
    margin: 20px;
    padding: 15px 30px;
    border-radius: .25rem;
    box-shadow: 0 16px 24px  2px rgba(33,37,41,.02),
                0 6px  30px  5px rgba(33,37,41,.04),
                0 8px 10px -5px rgba(33,37,41,.1);
                border: 1px solid rgb(240, 235, 240);
}

.name{
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px 0px;
}

.img{
    height: 200px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.price{
    padding: 15px 0;
}

.button{
    padding: 10px 15px;
    border-radius: 3px;
    cursor: pointer;
    /* margin: 0 auto; */
    border: 1px solid grey;
    outline: none;
    background: none;
    font-family: inherit;
}
.button_active{
    border: 1px solid transparent;
    /* background-image: linear-gradient(to right bottom, #ffe500, #dfec00, #b8f400, #83fa00, #00ff00); */
    background-image: linear-gradient(to right bottom, #0520d6, #007cff, #00b1ff, #00dcbb, #00ff59);
}


/* **************************************** */
/*           CONTAINER_COUNTER              */
/* **************************************** */


.container_counter{

    flex-shrink: 0;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("/../content/img/static/cart.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    color: #228f0c;
    color: #6041b6;
    font-weight: bold ;
    cursor: pointer;
    margin: 30px;
    padding-bottom: 10px;
    padding-left: 10px;
}

/* **************************************** */
/*           CONTAINER_CART              */
/* **************************************** */

.container_cart{
    position: fixed;
    width: 97%;
    height: 97vh;
    background: #fff;
    box-shadow: 0 16px 24px  2px rgba(33,37,41,.02),
                0 6px  30px  5px rgba(33,37,41,.04),
                0 8px 10px -5px rgba(33,37,41,.1);
                border: 1px solid rgb(240, 235, 240);
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    margin: auto;

    display: none;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}
.wrapper_cart{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.cart_close{
    position: absolute;
    width: 35px;
    height: 35px;
    top: 20px;
    right: 20px;
    background-image: url("/../content/img/static/close.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    cursor: pointer;
}

